<div class="container login">
  <div class="jumbotron center">
    <h1 class="center">Sign In</h1>

    <%= render "shared/errors" %>

    <%= render partial: "shared/newform",
        locals: {button_text: "Log In", url: session_url} %>

    <script type="text/javascript">
      var $form = $("form");

      $(".guest-login-ada").click(function (event) {
        event.preventDefault();
        $form.populate({email: 'ada.lovelace@gmail.com', password: 'first!'});
        setTimeout(function () {
          $form.submit();
        }, 1000);
      });

      $(".guest-login-alan").click(function (event) {
        event.preventDefault();
        $form.populate({email: 'alan.turing@gmail.com', password: 'enigma'});
        setTimeout(function () {
          $form.submit();
        }, 1000);
      });
    </script>
  </div>
</div>
