<% courses.each(function (course) { %>
  <% var imgClass %>
  <% imgClass = courseCompletions.findWhere({ course_id: course.id}) ? "active-badge" : "inactive-badge" %>
  <div class="badge-container">
    <img src="<%= course.get("badge_image_location") %>" class="<%= imgClass %>"/>
  </div>
<%  }) %>
