<div class="profile-info">
  <h3><span class="codebytes-blue">Email:</span> <%= user.escape("email") %></h3>
  <br>
  <h3><span class="codebytes-blue">Member since:</span>
    <%= user.escape("join_month") +
        "/" + user.escape("join_day") +
        "/" + user.escape("join_year")%>
  </h3>
</div>

<br>
<br>
<h3>Badges Earned:</h3>
<div class="badges">
</div>
<br>
<br>
<a href="#">Earn More Badges!</a>
