<h1><%= user.escape("email") %></h1>
<br>
<h3>Member since <%= user.escape("created_at") %></h3>
<br>
<br>
<h3>Badges</h3>
<% user.badges().each(function (badge) { %>
  <%= badge.escape("course_id") %>
<% }) %>
