<form action="<%= users_url %>" method="post">
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label>Email:
    <br>
    <input type="text" name="user[email]">
  </label>

  <br>
  <br>

  <label>Password:
    <br>
    <input type="password" name="user[password]">
  </label>

  <br>
  <br>

  <button type="submit">Sign Up</button>

</form>
