<section class="about jumbotron">
  <div class="container">
    <h1 class="scripty">CodeBytes</h1>
    <p>
      Whether you're just starting out or an experienced programmer, CodeBytes has the tutorials you need
      to become a better coder.
    </p>
  </div>
</section>

<div class="container courses-index">
  <section class="courses">
    <hr>
    <h3>Courses</h3>
    <hr>
    <div class="courses-list">
    </div>
  </section>
  <section class="coming-soon">
    <hr>
    <h3>Coming Soon</h3>
    <hr>
    <div class="upcoming-course-item">
      <img src="android.png" alt="Android Development" class="course-logo" />
      <br>
      Android Development
    </div>
  </section>
</div>
