<section class="about">
  <h1 class="scripty">CodeBytes</h1>
  <p class="scripty">
    Whether you are a complete novice or an experienced programmer, CodeBytes has the tutorials
    you need to hone your coding skills.
  </p>
</section>

<div class="container courses-index">
  <section class="courses">
    <h3>Courses</h3>
    <div class="courses-list">
    </div>
  </section>
</div>
