<section class="about">
  <h3>About</h3>
  <p>
    CodeBytes is currently under construction. Come back soon!
  </p>
</section>

<div class="container">
  <section class="courses">
    <h3>Courses</h3>
    <div class="courses-list">
    </div>
  </section>
</div>
