<footer>
  <div class="container">
    <nav>
      <ul class="nav navbar-nav">
        <li><a href="#/about">About</a></li>
        <li><a href="#/contact">Contact</a></li>
        <li><a href="#/careers">Careers</a></li>
      </ul>
    </nav>
  </div>
</footer>
