<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="<%= url %>" method="post">
      <input type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <div class="form-group">
        <label for="email">Email Address:</label>
        <input type="text" class="form-control"
                id="email" name="user[email]" placeholder="Email">
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control"
                id="password" name="user[password]" placeholder="Password">
      </div>

      <br>
      <br>

      <button class="btn btn-large btn-success" type="submit">
        <%= button_text %>
      </button>

      <button type="button" class="btn btn-large btn-primary guest-login-ada">
        Sign In as Ada
      </button>

      <button type="button" class="btn btn-large btn-warning guest-login-alan">
        Sign In as Alan
      </button>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(".guest-login-ada").click(function (event) {
    event.preventDefault();
    $("form").populate({email: 'ada.lovelace@gmail.com', password: 'first!'});
    $("form").submit();
  });

  $(".guest-login-alan").click(function (event) {
    event.preventDefault();
    $("form").populate({email: 'alan.turing@gmail.com', password: 'enigma'});
    $("form").submit();
  });
</script>
