<div id="editor">
</div>

<script src="/ace-editor/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8">
</script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
</script>
<button type="submit" class="code-submit">Submit Code</button>
