<div id="editor">
</div>


<% if (CodeBytes.LangLoaded) { %>
  <button type="submit" class="btn btn-primary submit-code">
    Submit Code
  </button>
<% } else { %>
  <button type="submit" class="btn btn-primary submit-code spinner" disabled>
  </button>
<%  } %>
