<div class="exercise">
  <%= topic.get("title") %>

</div>
<div class="interactive">
  <form class="editor-area">
    <textarea class="editor"></textarea>
    <button type="submit" class="code-submit">Submit Code</button>
  </form>
  <section class="terminal">
  </section>
</div>


<script src="/jsrepl/jsrepl.js" id="jsrepl-script">
</script>
<!--
  TODO: Set jsrepl in the CodeBytes namespace, loadLanguage on course show,
  install submit handlers on each individual topic show page.
-->
