<div class="exercise">
  <%= topic.get("title") %>

</div>
<div class="interactive">
  <form class="editor-area">
    <textarea class="editor"></textarea>
    <button type="submit" class="code-submit">Submit Code</button>
  </form>
  <section class="terminal">
  </section>
</div>

<script type="text/javascript">
  $(".editor-area").submit(function(event){
      debugger;
      event.preventDefault();
      var code = $(event.currentTarget).find("textarea").val();
      CodeBytes.Interpreter.eval(code);
  });
</script>
