Exercise Number:
<br>
<select class="exercise-list">
  <% for (var i = 1; i <= exercises.length; i++) { %>
    <option data-id="<%= exercises[i-1].id %>"><%= i %></option>
  <% } %>
</select>
<br>
<h3>Readings</h3>
<%= activeExercise.get("readings") %>
<hr>
<h3>Instructions</h3>
<%= activeExercise.get("instructions") %>
<br>
<br>
