<div class="jumbotron center">
  <h1>Welcome to CodeBytes!</h1>
  <br>
  <p>
    This is a web app developed by <a href="http://www.github.com/mpiercy827">Matt Piercy</a> as a final project for <a href="http://www.appacademy.io">AppAcademy</a>.
    If you find any bugs or would like to contribute, you can do so in the <a href="http://www.github.com/mpiercy827/CodeBytes">repository</a> for this project!
  </p>
</div>
