<div class="jumbotron center">
  <h1>CodeBytes Careers</h1>
  <br>
  <p>
    This is a personal project, so unfortunately no careers exist. Feel free to contribute to the project on <a href="http://www.github.com/mpiercy827/CodeBytes">GitHub</a>, though!.
  </p>
</div>
