<div class="jumbotron center">
  <h1>Contact</h1>
  <br>
  <div class="contact-info">
    You can find me on:
    <a href="http://www.github.com/mpiercy827">GitHub</a> &bull;
    <a href="http://www.linkedin.com/in/mpiercy">LinkedIn</a>
  </div>
</div>
