<button class="close">&times;</button>
<h3 class="center">Suggest A Course for CodeBytes</h3>
<br>
<div class="form-group">
  <label for="title">Title</label>
  <input type="text"
      id="title"
      name="suggestion[title]"
      placeholder="Course Title"
      class="form-control">
</div>

<div class="form-group">
  <label for="explanation">What interests you about this course:</label>
  <textarea
      rows=6
      id="explanation"
      name="suggestion[explanation]"
      placeholder="Reason for interest..."
      class="form-control"></textarea>
</div>

<button type="submit" class="btn btn-large btn-primary">Suggest Course</button>
