<div class="jumbotron">
  <h1 class="center">Suggest A Course for CodeBytes</h1>
  <br>
  <form class="suggest">
    <div class="form-group">
      <label for="suggestion[title]">Title</label>
      <input type="text"
          id="suggestion[title]"
          placeholder="Course Title"
          class="form-control">
    </div>

    <div class="form-group">
      <label for="suggestion[explanation]">What interests you about this course:</label>
      <textarea
          rows=10
          id="suggestion[title]"
          placeholder="Reason for interest..."
          class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-large btn-primary">Suggest Course</button>
  </form>
</div>
