/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/* header */

.logo {
  float: left;
  margin-right: 10px;
  color: #FFF;
  text-transform: uppercase;
}

.logo:hover {
  color: #ccc;
  text-decoration: none;
}

/* body */

body {
  padding-top: 70px;
  font-family: helvetica;
}

/*course list items displays*/

.course-item {
  width: auto;
  border-radius: 5px;
  padding: 5px;
  font-size: 24px;
}

.course-item p {
  font-size: 12px;
}

.course-item:hover {
  background-color: #eee;
}

/*topic list item displays*/
.topic-item {
  width: auto;
  border-radius: 5px;
  padding: 5px;
  font-size: 24px;
}

.topic-item p {
  font-size: 12px;
}

.topic-item:hover {
  background-color: #eee;
}

/*editor, terminal and exercise styling*/
.exercise {
  width: 40%;
  min-height: 600px;
  float: left;
}

.interactive {
  width: 60%;
  float: right;
}

.editor {
  width: 100%;
  min-height: 400px;
  background-color: #333;
  color: #fff;
}

.terminal {
  width: 100%;
  min-height: 200px;
  background-color: #000;
  color: #fff;
}

.output {
  background-color: #000;
  color: #fff;
  border: 0px;
}
