/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require jquery-ui.structure
 *= require jquery-ui.theme
 *= require_tree ../../../vendor/assets/stylesheets
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

$header-height: 50px;
$about-height: 400px;
$codebytes-blue: #18bc9c;

/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* body */

html, body {
  font-family: helvetica;
  font-size: 14px;
  margin: 0;
  padding:0;
  height: 100%;
  background-color: #eeeeee;
}

.wrapper {
  min-height: calc(100% - 50px);
  height: auto;
}

.main {
  padding-top: $header-height;
}

/* main CSS */

#content {
  position: relative;
  width: 100%;
  min-width: 600px;
}

.scripty {
  font: 400 20px 'Oleo Script', Helvetica, sans-serif;
  color: #2b2b2b;
}

.ui-widget-header {
  background-color: $codebytes-blue !important;
  background-image: none;
  color: #000;
  border: 1px solid $codebytes-blue !important;
}

button.ui-button:first-child {
  color: #fff !important;
}

button.ui-button:first-child .ui-button-text{
  background-color: $codebytes-blue !important;
}

.ui-icon-closethick {
  color: $codebytes-blue;
}

/* navbar & header */

header {
  height: $header-height;
}

.navbar-default {
  background-color: #2f2f2f;
  border-color: $codebytes-blue;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: $codebytes-blue;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default nav {
  float: right;
  color: #ffffff;
}
.navbar-default .navbar-nav > li {
  float: left;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: $codebytes-blue;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: $codebytes-blue;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: $codebytes-blue;
}
.navbar-default .navbar-toggle {
  border-color: $codebytes-blue;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: $codebytes-blue;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: $codebytes-blue;
  }
}

/* sticky footer */

footer {
  height: 50px;
}

footer {
  background-color: #cccccc;
}

footer nav {
  float: right;
  color: #204056;
}

.about, .careers, .contact {
  margin-top: 20px;
  width: 80%;
  margin: 0 auto;
  p {
    font-size: 16px;
    text-align: justify;
  }
}

.contact-info {
  font-size: 18px;
  text-align: center;
}

/* course index */

.index-banner {
  background: $codebytes-blue;
  color: white;
  padding: 100px 20%;
  text-align: center;
  transition: background 1s;
  -webkit-transition: background 1s;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

.index-banner:hover {
  background: #000000;
}

.index-banner h1 {
  font-size: 72px;
  color: white;
}

.courses, .upcoming-courses {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.courses-index {
  margin: 0 auto;
}

.courses-index h3 {
  text-align: center;
  font-size: 36px;
}

.header {
  background-color: #ffffff;
  padding: 10px 0px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}

.suggestions {
  text-align: center;
  padding: 10px;
  width: 100%;
}

.suggestions a:hover {
  cursor: pointer;
  text-decoration: none;
}

/*course list items displays*/

.course-item, .upcoming-course-item {
  width: calc(25% - 40px);
  height: 260px;
  border-radius: 5px;
  display: inline-block;
  box-sizing: content-box;
  text-align: center;
  margin: 4px;
  padding: 15px;
  font-size: 24px;
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
  transition: background-color 1s, filter 1s, -webkit-filter 1s;
  -webkit-transition: background-color 1s, filter 1s, -webkit-filter 1s;
  background-color: #eee;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .course-item, .upcoming-course-item {
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  .course-item, .upcoming-course-item {
    width: calc(50% - 40px);
  }
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  .course-item, .upcoming-course-item {
    width: calc(33% - 40px);
  }
}

.course-logo {
  max-width: 90%;
  max-height: 200px;
  margin: 0 auto;
  display: block;
}

.course-item:hover, .upcoming-course-item:hover {
  background-color: #fff;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

.topic-show {
  padding: 10px;
}

/* course show */

.course-show {
  padding: 10px;
  position: relative;
  text-align: center;
}

.course-show h1 {
  font-size: 48px;
}

.course-show p {
  font-size: 16px;
}

.topics-list {
  width: 75%;
  max-width: 700px;
  margin: 0 auto;
}

/*topic list item displays*/
.topic-item {
  background-color: #fff;
  text-align: left;
  cursor: pointer;
  a, a:hover, a:active, a:visited {
    color: #000;
  }

  a {
    transition: background-color 0.25s;
  }
}

.topic-item:hover a:hover {
  color: #fff;
  background-color: $codebytes-blue;
  .glyphicon.pull-right {
    color: $codebytes-blue;
    background-color: white;
  }
}

.topic-item h2 {
  font-size: 24px;
}

.glyphicon.pull-right {
  color: white;
  padding: 10px;
  border-radius: 50%;
  background-color: $codebytes-blue;
  position: relative;
  transition: color 0.25s, background-color 0.25s;
}

/*editor, terminal and exercise styling*/
.exercise {
  width: 45%;
  height: 600px;
  background-color: #fff;
  border: 1px solid #000;
  overflow-y: auto;
  float: left;
}

.exercise-text {
  padding: 15px;
  text-align: justify;
  line-height: 150%;
}

.exercise-text > h3 {
  text-align: center;
}

.exercise-header {
  width: 100%;
  h3 {
    display: inline-block;
  }
  .glyphicon {
    color: white;
    padding: 5px;
    border-radius: 50%;
    background-color: $codebytes-blue;
  }
}

.sample {
  background-color: #eeffff;
  border: 1px solid #dddddd;
  border-radius: 2px;
  padding: 5px 10px;
  width: auto;
  text-align: left;
}

.sample-result {
  color: #666666;
  padding-left: 5px;
}

.tabbed {
  padding-left: 5px;
}

.btn-group {
  float: right;
}

.btn-group li {
  cursor: pointer;
}

.interactive {
  width: 55%;
  min-width: 300px;
  float: right;
}

.editor-container {
  position: relative;
  width: 100%;
  min-height: 400px;
  background-color: black;
}

.submit-code {
  width: 100%;
  height: 40px;
  position: relative;
  z-index: 10000;
}

#editor {
  height: 360px;
  font-size: 12px;
  width: 100%;
}

.terminal {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  background-color: #000;
  color: #fff;
}

.output {
  background-color: #000;
  color: #fff;
  border: 0px;
}

.feedback {
  max-width: 50%;
  margin: 0 auto;
  margin-top: -40px;
}
.alert-dismissible {
  min-width: 100%;
}

/* badges & profile */

.badge-container {
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  padding: 10px;
}

.badge-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.badge-container .badge-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  font-size: 14px;
  z-index: 100;
  padding: 50% 0%;
  opacity: 0;
  transition: opacity 0.5s;
}

.badge-container .badge-info:hover {
  opacity: 0.8;
}

.active-badge {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

.inactive-badge {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.profile {
  margin-top: 10px;
  max-width: 70%;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
}

.profile-info {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.codebytes-blue {
  color: $codebytes-blue;
}

/* login and register pages */

.center {
  text-align: center;
}

.register, .login {
  padding-top: 20px;
}

.alert-danger {
  width: 60%;
  margin: 0 auto;
}

.form-group {
  text-align: left;
  padding: 2px 10px;
}

/* Loading spinner */
@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
    min-width: 24px;
    min-height: 24px;
}

.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .3);
    border-top-color: rgba(0, 0, 0, .6);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}

.loading {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
